/* @override http://people.ee.ethz.ch/~maroggo/musik/schrumm.css */


songsheet {
	width: 600px;
	font: 16px "Bauer Bodoni", Bodoni, Georgia, "Times New Roman", Times, serif;
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
}

/* @group info */

info{
	margin-bottom: 1em;
	display: block;
}

title{
	display: block;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	counter-reset: verses;
}

composer{
	display: block;
	text-transform: uppercase;
	margin-bottom: 1em;
	font-size: 1.5em;
}

capo, key, genre, year, beat{
	display: block;
}

key:before{
	content: 'Tonart: ';
	font-style: italic;
}

key[original]:after{
	content: '(+'attr(original) ' geg. Original)';
	color: silver;
}

key[original="0"]:after{
	content: '(Originaltonart)';
	color: silver;
}

key chord:before{
	content: attr(name);
}

year:before{
	content: 'Jahr: ';
	font-style: italic;
}

genre:before{
	content: 'Stil: ';
	font-style: italic;
}
beat:before{
	content: 'Takt: ';
	font-style: italic;
}

capo:before{
	content: 'Kapodaster: ' attr(name);
	font-style: italic;
}
capo:after{
	content: '. Bund';
}

info note{
	margin-top: 0.5em;
	display: block;
	color: silver;
	font-style: italic;
}

/* @end */

/* @group song */

stanza{
	display: block;
	margin-bottom: 1.5em;
}

stanza[type="verse"]{
	counter-increment: stanza;
}

stanza[type="verse"]:before{
	content: counter(stanza) '.';
}

stanza[type="chorus"]:before{
	content: 'R:';
}

stanza[type="bridge"]:before{
	content: 'B:';
}

stanza[type="bridge"]{
	margin-bottom: 0.5em;
}

stanza:before{
	display: inline-block;
	position: relative;
	right: 17px;
	width: 0;
	margin-left: -4px;
	color: silver;
}

song note{
	font-style: italic;
	margin-bottom: 1.5em;
	display: block;
	color: silver;
}

song chord:after{
	content: attr(name);
}

song chord{
	display: inline-block;
	position: relative;
	width: 0;
	font-style: italic;
	top: -1em;
	margin-top: 1.4em;
	color: silver;
}

br{
	display: block;
}

/* @end */